.img-style
{
    height: 286px;
}
.head-style
{
    font-size: 40px;
    font-style: oblique;
    font-weight: 700;
}
.label-style
{
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    color: currentcolor;
}