<div class="card p-3 mt-3 col-md-4 offset-md-4">
    <div >
<form  #loginform="ngForm" (submit)="onSubmit(loginform)">
    
    <div class="form-group">
        <label>Email</label>
        <input required class="form-control" placeholder="Email" name="Email" #Email="ngModel" [(ngModel)]="service.formLoginData.email">
    </div>
    <div class="form-goup">
        <label>Password</label>
        <input required maxlength="10" minlength="8" class="form-control" placeholder="Password" name="Password" #Password="ngModel" [(ngModel)]="service.formLoginData.password">
    </div>
    <div class="form-group">
        <button class="btn btn-success mt-3" [disabled]="loginform.invalid"  type="submit">Login</button>
    </div>
</form>
</div>
</div>