/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url('assets/bmsback3.jpg');
    
}
.navbar-style
{
    background-color: #132d46;
    
}
.logo-style
{
    height: 70px;
    width: 220px;
}
nav a.active
{
    color: aqua;
}